html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

.header {
  background-image: url(../img/back.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 280px 0 0 0;
  background-position: center; }
  .header_text {
    text-transform: uppercase;
    display: block;
    text-align: center;
    margin: 50px 0;
    font-size: 32px;
    font-family: Geometria,sans-serif;
    font-weight: 700;
    color: aliceblue; }
  .header_button {
    display: flex;
    justify-content: center;
    padding: 20px 0 260px 0; }
  .header_link {
    text-decoration: none;
    color: aliceblue;
    font-size: 82px; }

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto; }

.work {
  padding: 150px 0; }
  .work .container {
    max-width: 1470px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; }
  .work_card {
    margin: 50px 0; }
    .work_card:hover {
      box-shadow: 0 0.1rem 3.6rem 2.6rem #dddd; }
    .work_card_img {
      max-width: 700px;
      max-height: 400px;
      width: 100%;
      height: 100%; }

.footer {
  padding: 80px 0;
  background: rgba(32, 32, 32, 0.867); }
  .footer_social {
    display: flex;
    justify-content: space-around; }
  .footer_link {
    text-decoration: none;
    color: aliceblue;
    font-size: 22px; }
  .footer_link i {
    padding: 0 10px; }
