html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: "Roboto-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Roboto-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "Roboto-Medium";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Roboto-Medium.ttf") format("truetype"); }

@font-face {
  font-family: "Roboto-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Roboto-Regular.ttf") format("truetype"); }

* {
  box-sizing: border-box; }

.hero {
  background: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 10px; }

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto; }

.wrapper {
  justify-content: center;
  display: flex; }

.aside {
  background: transparent;
  width: 33%;
  margin-right: 10px; }
  .aside_wrap {
    box-shadow: 3px 13px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    margin: 11px 0;
    background: #F4F6F8;
    padding: 15px 30px 15px;
    border-bottom: 3px solid #748C91; }
    .aside_wrap:first-child {
      margin-top: 0; }
      .aside_wrap:first-child:hover .aside__title {
        transform: scale(1.1); }
    .aside_wrap:last-child {
      border-bottom: none; }
    .aside_wrap .aside__item {
      margin: 10px 0; }
    .aside_wrap:hover {
      box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); }
  .aside__title {
    padding: 20px 0;
    color: black;
    font-size: 36px;
    text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2), 0px -5px 35px rgba(255, 255, 255, 0.3);
    font-family: 'Roboto-Bold';
    text-transform: uppercase;
    border-bottom: 4px solid #748C91; }
  .aside__subtitle {
    color: black;
    font-size: 28px;
    margin: 10px 0;
    font-family: 'Roboto-Medium';
    text-transform: uppercase; }
  .aside__second-title {
    color: black;
    font-size: 20px;
    margin: 5px 0;
    font-family: 'Roboto-Medium';
    text-transform: uppercase; }
  .aside__date {
    display: block;
    color: black;
    font-size: 20px;
    margin: 5px 0;
    font-family: 'Roboto-Regular';
    text-transform: uppercase; }
  .aside__text {
    width: 60%;
    line-height: 1.2;
    display: block;
    color: #404749;
    font-size: 18px;
    margin: 20px 0 0 0;
    font-family: 'Roboto-Regular'; }
  .aside__second-subtitle {
    color: black;
    font-size: 15px;
    margin: 5px 0;
    font-family: 'Roboto-Medium';
    text-transform: uppercase; }
  .aside__mini {
    display: flex;
    justify-content: flex-start; }
    .aside__mini .aside__element {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: #4DD599;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5); }
      .aside__mini .aside__element + .aside__element {
        margin-left: 5px; }
  .aside__mini_mod .aside__element:nth-child(4) {
    background: transparent; }
  .aside__mini_mod .aside__element:nth-child(5) {
    background: transparent; }
  .aside__second-subtitle_color {
    color: #0F5848; }
  .aside__roster {
    color: black;
    position: relative; }
    .aside__roster::before {
      position: absolute;
      left: -10px;
      content: "-"; }

.about {
  background: transparent;
  width: 50%; }
  .about_wrap {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    margin: 20px 0;
    background: #fff;
    width: 100%;
    padding: 25px 60px; }
    .about_wrap:hover {
      box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); }
    .about_wrap:last-child {
      margin-top: 20px; }
  .about_wrap_flex {
    display: flex;
    justify-content: space-around;
    margin-top: 0; }
    .about_wrap_flex .about_img {
      max-width: 200px;
      max-height: 250px;
      width: 100%;
      height: 100%;
      border-radius: 10%; }
  .about_information {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
  .about_communication .about__link {
    text-decoration: none;
    font-size: 32px;
    color: black; }
  .about__email {
    align-self: center; }
  .about__telephone .about__link {
    color: #d6621e; }
  .about__telegram {
    align-self: flex-end; }
    .about__telegram .about__link {
      color: #406bc9; }
  .about__title {
    color: black;
    font-size: 28px;
    margin-bottom: 10px;
    font-family: 'Roboto-Medium';
    text-transform: uppercase; }
  .about__text {
    font-family: ' Roboto-Regular';
    max-width: 400px;
    width: 100%;
    font-size: 20px;
    line-height: 1.5;
    color: #404749; }
  .about_subtitle {
    font-family: 'Roboto-Medium';
    text-transform: uppercase;
    color: black;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 10px; }
  .about__title_mod {
    font-size: 30px; }

.work {
  padding: 80px 0;
  background: #f7f2e9; }
  .work__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; }
  .work__list {
    width: 45%;
    min-height: 220px;
    margin: 30px 10px;
    box-shadow: -12px 10px 20px 3px #acb0b1;
    border: 2px solid #748C91; }
    .work__list:hover {
      box-shadow: 1px 1px 20px 3px #acb0b1;
      transform: scale(1.1); }
  .work__img {
    max-width: 550px;
    width: 100%;
    min-height: 220px; }

.footer {
  padding: 40px 0;
  background: #acb0b1; }
  .footer__container {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .footer .contact {
    max-width: 380px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .footer .contact__link {
      color: #404749;
      text-decoration: none;
      font-size: 22px;
      display: flex;
      align-items: center;
      justify-content: space-between; }
    .footer .contact .fa-envelope {
      color: #0f9ebb;
      margin: 0 0 0 10px;
      font-size: 24px; }
    .footer .contact .fa-telegram-plane {
      color: #0f9ebb;
      margin: 0 0 0 10px;
      font-size: 24px; }
  .footer .private {
    display: none; }

@media (max-width: 1000px) {
  .work__list {
    width: 50%; }
  .work__item {
    justify-content: center; }
  .aside {
    width: 38%; }
  .about {
    width: 57%; } }

@media (max-width: 768px) {
  .work__list {
    width: 70%; }
  .work__item {
    justify-content: center; }
  .wrapper {
    flex-direction: column-reverse;
    align-items: center; }
  .aside {
    width: 80%; }
  .about {
    width: 80%; } }

@media (max-width: 500px) {
  .about_wrap {
    padding: 25px 30px; }
  .aside {
    width: 90%; }
  .about {
    width: 90%; }
  .work__list {
    width: 90%; }
  .footer .contact__link {
    font-size: 16px; }
  .footer .contact {
    justify-content: space-around; }
  .footer .private {
    font-size: 14px; } }
