<mat-grid-list cols="2" rowHeight="1:1" gutterSize="5px">
   <mat-grid-tile>
   <img src="/assets/about.png">
   </mat-grid-tile>
   <mat-grid-tile >
   <p>My name is Miroslav Polishchuk, and I am a student looking for a job. 
  At the moment I am actively developing on the Web.It would be very interesting to use their skills in practice.
   </p>
   </mat-grid-tile>
   </mat-grid-list>

<mat-toolbar color="primary">
  <mat-toolbar-row>
<a href="https://github.com/polikk"><img src="/assets/git.png"></a>
  </mat-toolbar-row>