<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="./css/main.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/ajax-loader.gif")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/fonts/slick.eot")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/fonts/slick.ttf")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/fonts/slick.woff")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/fonts/slick.svg")
        title Document
    body
        include header.pug
        main
            section.about-main
                .container
                    h2.section-title Щедрик - піввікова унікальна традиція хорового співу
                    p.about-main__subtitle Дитячий хор «Щедрик» засновано 1971 року у столиці України Києві Іриною Сабліною. З 2004 року його художнім керівником і головним диригентом є заслужений діяч мистецтв України Маріанна Сабліна.
                    figure.about-main__image
                        img(src="./img/about-img.png", alt="", srcset="")
                    p.about-main__text Від перших років існування хор виступав із сольними концертами в Колонному залі ім. М. Лисенка Національної філармонії України та по всій Україні, у філармоніях Росії, Білорусії, Грузії, Вірменії, Азербайджану, Молдови, Латвії, Литви та Естонії.
                    p.about-main__line
                    p.about-main__text У 1990-ті роки «Щедрик» починає гастролювати світом і стає справжнім відкриттям для міжнародної музичної спільноти. Його концерти з успіхом проходили у містах 15 штатів США, у Канаді, Німеччині, Польщі, Угорщині, Бельгії, Швеції, Швейцарії, Австрії, Франції та Італії. 
            section.about-press
                .container
                    h2.section-title Відгуки преси
                    .press-slider
                        .press-slider__card
                            blockquote
                                p.press-slider__text  Професійний ансамбль світового рівня
                                p.press-slider__line
                                footer
                                    cite Ukrainian Weekly
                                    .date 1991
                        .press-slider__card
                            blockquote
                                p.press-slider__text  Музичний рівень, досягнутий такими юними хористами, здається неможливим
                                p.press-slider__line
                                footer
                                    cite The Hawk Age
                                    .date 1993
                        .press-slider__card
                            blockquote
                                p.press-slider__text Це занадто прекрасно, щоб бути правдою
                                p.press-slider__line
                                footer
                                    cite Süddeutsche Zeitung
                                    .date 1998
                        .press-slider__card
                            blockquote
                                p.press-slider__text Професійний ансамбль світового рівня
                                p.press-slider__line
                                footer
                                    cite Süddeutsche Zeitung
                                    .date 1998
                    p.about-main__text Сьогодні у хорі співають понад 150 дітей різного віку, що займаються у відповідних вікових групах. Близько 55 кращих виконавців входять до концертного складу колективу. Три перших записи «Щедрика» було видано фірмою «Мелодія» на вінілових платівках. Частково репертуар представлений на п’яти компакт-дисках, записаних в Україні. Німецька компанія «Deutsche Welle» випустила диск із записом Різдвяного концерту, з яким «Щедрик» виступав 2011 року у Бонні.
                    p.about-main__text У спільних проектах «Щедрик» мав честь співпрацювати з видатними музикантами світу — Володимиром Крайнєвим, Ґідоном Кремером, Романом Кофманом, Ґією Канчелі, Іваном Моніґетті, Даніелем Баренбоймом, Мартою Арґеріх та іншими.
            section.about-award.award
                .container
                    h2.section-title Наші нагороди
                    .award-wrap
                        .awards
                            p.awards__title 2019
                            p.awards__text Перше місце з відзнакою “Видатний успіх” в категорії Treble Choirs / Жіночі хори/ XIII “Summa Cum Laude” International Youth Music Festival у Відні (Австрія), 2019 
                        .awards
                            p.awards__title 2018
                            p.awards__text «Золотий Давид» — Гран-прі VII Міжнародного фестивалю-конкурсу оркестрових і хорових колективів у Флоренції (Італія), 2018
                        .awards
                            p.awards__title 2005
                            p.awards__text Золотий диплом найвищого ступеня та Гран-прі I Міжнародного конкурсу «Musica sacra a Roma» у Римі (Італія), 2005
                    .award-wrap
                        .awards
                            p.awards__title 2005
                            p.awards__text Золотий диплом найвищого ступеня та Гран-прі I Міжнародного конкурсу «Musica sacra a Roma» у Римі (Італія), 2005
                        .awards
                            p.awards__title 2005
                            p.awards__text Золотий диплом найвищого ступеня та Гран-прі I Міжнародного конкурсу «Musica sacra a Roma» у Римі (Італія), 2005
                        .awards
                            p.awards__title 2005
                            p.awards__text Золотий диплом найвищого ступеня та Гран-прі I Міжнародного конкурсу «Musica sacra a Roma» у Римі (Італія), 2005
            section.about-details
                .container  
                    p.about-main__text У репертуарі хору — ренесансна, барочна та класична музика, обробки пісень народів світу, твори сучасних композиторів.
                    p.about-main__text Щедрик брав участь у таких престижних українських і світових музичних фестивалях, як:
                    .festival
                        li «America Fest» у Де-Мойні (США), 1992
                        li «КиївМюзікФест» у Києві (Україна), 2000
                        li Фестивалі камерної музики Ґідона Кремера у Локкенгаусі (Австрія), 2002, 2008, 2011
                        li III Міжнародний хоровий фестиваль у Ризі (Латвія), 2004
                        li «Тоніка» у Києві (Україна), 2004
                        li І Міжнародний осінній хоровий фестиваль у Москві (Росія) до 140-річчя Московської консерваторії, 2005
                        li «Віртуози» у Львові (Україна), 2006
                        li «Cantus MM» у Зальцбурзі (Австрія), 2007
                        li «Cracovia Music Festival» у Кракові (Польща), 2009
                        li  «Beethovenfest» у Бонні (Німеччина), 2010
                        li «Зустріч зі Славою» — захід у Кронберзі (Німеччина) до дня вшанування пам’яті М. Ростроповича, 2011
                        li ХХ фестиваль камерної музики у Кронберзі (Німеччина), 2013
                        li «То Russia With Love» — концерт у Берліні (Німеччина) на підтримку політв’язнів, 2013
                        li «Leigo Lake» у Лейго (Естонія), 2015
                        li  Фестиваль української музики «Rethinking Europe — Stop One: Ukraine» у Стокгольмі (Швеція), 2017
                        li VII Міжнародний фестиваль оркестрових і хорових колективів у Флоренції (Італія), 2018
                        li XIII “Summa Cum Laude” International Youth Music Festival у Відні (Австрія), 2019
                    p.about-main__text Почесне місце у дискографії займає запис твору «Три маленькі літургії Божественної присутності» О. Мессіана, виконаного «Щедриком» разом з оркестром «Кремерата Балтика» під керуванням Р. Кофмана, що ввійшов до збірки кращих концертів в історії «Фестивалю камерної музики Ґідона Кремера». 
            section.about-famous
                .container
                    h2.section-title Відгуки відомих осіб
                    .famuous-slider
                        .famous-card
                            blockquote
                                .famous-autor
                                    figure
                                        img(src="./img/famous-slider.png", alt="", srcset="")
                                        figcaption Композитор
                                    cite  Ґія Канчелі
                                .famous-text «Дитячі хори існують у багатьох країнах, але „Щедрик“ — явище особливе через те, що ґрунтується на неповторних хорових традиціях, закладених Іриною Сабліною й успішно продовжених її дочкою Маріанною Сабліною. Завдяки їм „Щедрик“ і став явищем унікальним».
                        .famous-card
                            blockquote
                                .famous-autor
                                    figure
                                        img(src="./img/famous-slider.png", alt="", srcset="")
                                        figcaption Композитор
                                    cite  Ґія Канчелі
                                .famous-text «Дитячі хори існують у багатьох країнах, але „Щедрик“ — явище особливе через те, що ґрунтується на неповторних хорових традиціях, закладених Іриною Сабліною й успішно продовжених її дочкою Маріанною Сабліною. Завдяки їм „Щедрик“ і став явищем унікальним».
                        .famous-card
                            blockquote
                                .famous-autor
                                    figure
                                        img(src="./img/famous-slider.png", alt="", srcset="")
                                        figcaption Композитор
                                    cite  Ґія Канчелі
                                .famous-text «Дитячі хори існують у багатьох країнах, але „Щедрик“ — явище особливе через те, що ґрунтується на неповторних хорових традиціях, закладених Іриною Сабліною й успішно продовжених її дочкою Маріанною Сабліною. Завдяки їм „Щедрик“ і став явищем унікальним».
                        .famous-card
                            blockquote
                                .famous-autor
                                    figure
                                        img(src="./img/famous-slider.png", alt="", srcset="")
                                        figcaption Композитор
                                    cite  Ґія Канчелі
                                .famous-text «Дитячі хори існують у багатьох країнах, але „Щедрик“ — явище особливе через те, що ґрунтується на неповторних хорових традиціях, закладених Іриною Сабліною й успішно продовжених її дочкою Маріанною Сабліною. Завдяки їм „Щедрик“ і став явищем унікальним».
                    span.pagingInfo
        include footer.pug
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js")
        script(src='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js')
        script(src="./js/main.js")