@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: "Roboto-Bold";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/Roboto-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "Roboto-Italic";
  font-style: italic;
  font-weight: 300;
  src: url("../fonts/Roboto-Italic.ttf") format("truetype"); }

@font-face {
  font-family: "Roboto-Light";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Roboto-Light.ttf") format("truetype"); }

@font-face {
  font-family: "Roboto-Medium";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Roboto-Medium.ttf") format("truetype"); }

@font-face {
  font-family: "Roboto-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Roboto-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "Roboto-Black";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/Roboto-Black.ttf") format("truetype"); }

* {
  box-sizing: border-box; }

body {
  font-size: 16px; }

.container {
  max-width: 1170px;
  margin: 0 auto;
  width: 100%; }

.main {
  padding-top: 1.25rem;
  background-image: url(../img/header_bg.png);
  background-position: top right;
  background-repeat: no-repeat; }
  .main .container {
    position: relative; }
  .main_header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 60px; }
  .main .logo {
    display: flex;
    align-items: center; }
    .main .logo_title {
      margin-left: 1.25rem;
      font-size: 1.375rem;
      font-family: 'Roboto-Black';
      color: #383334;
      line-height: 40px; }
  .main .header_list {
    display: flex;
    align-items: center; }
    .main .header_list .header--mod {
      margin-left: 5.5rem;
      margin-right: 2.375rem; }
    .main .header_list .header_item {
      align-items: center;
      display: flex; }
      .main .header_list .header_item_text {
        margin-left: 0.75rem;
        max-width: 170px;
        width: 100%;
        font-size: 1rem;
        font-family: 'Roboto-italic';
        color: #666666; }
  .main_wrap {
    max-width: 670px;
    width: 100%;
    margin-left: auto;
    display: flex;
    justify-content: flex-end; }
    .main_wrap_about {
      max-width: 370px;
      width: 100%; }
      .main_wrap_about .about_title {
        max-width: 300px;
        width: 100%;
        font-family: "Roboto-Black";
        color: #383334;
        font-size: 2.75rem;
        line-height: 44px;
        margin-bottom: 40px; }
        .main_wrap_about .about_title .about_title_desq {
          font-size: 2.025rem;
          font-weight: 700;
          line-height: 1; }
        .main_wrap_about .about_title .about_mod_green {
          font-size: 2.025rem;
          font-weight: 700;
          line-height: 38px;
          border-bottom: 5px solid #a7c93d; }
        .main_wrap_about .about_title .about_mod_orange {
          font-size: 2.025rem;
          font-weight: 700;
          line-height: 38px;
          border-bottom: 5px solid #ff6b00; }
      .main_wrap_about .about_text {
        display: flex;
        align-items: center;
        font-family: 'Roboto-Regular';
        color: #444444;
        font-size: 1.25rem;
        margin-bottom: 2.5rem; }
        .main_wrap_about .about_text .about-item {
          display: inline-flex;
          justify-content: center;
          align-items: center;
          color: #ffffff;
          border-radius: 50%;
          font-weight: 700;
          max-width: 46px;
          max-height: 46px;
          height: 100%;
          width: 100%;
          padding: 20px 0;
          background-color: #a7c93d;
          box-shadow: 0 0 0 7px #e8edc9; }
        .main_wrap_about .about_text .about-desq {
          margin-left: 1.25rem;
          line-height: 1.5;
          color: #444444;
          font-weight: 400;
          font-family: "Roboto-Regular"; }
          .main_wrap_about .about_text .about-desq .desq_mod__green {
            border-bottom: 3px solid #a7c93d; }
          .main_wrap_about .about_text .about-desq .desq_mod_orange {
            border-bottom: 3px solid #ff6b00; }
          .main_wrap_about .about_text .about-desq .about_desq_mod {
            font-family: 'Roboto-Medium';
            color: #000000; }
    .main_wrap_form {
      background-color: #ffffff;
      height: 100%;
      max-width: 270px;
      width: 100%;
      padding: 4.5rem 1.125rem 0 1.125rem;
      border: 7px solid #a8ca3f;
      border-radius: 14px;
      position: relative; }
      .main_wrap_form .form_img {
        display: flex;
        flex-direction: row-reverse;
        border-top: 9px solid #f3f9ff;
        border-right: 7px solid #a8ca3f;
        border-left: 7px solid #a8ca3f;
        border-bottom: 7px solid #a8ca3f;
        position: absolute;
        padding: 8px 14px;
        border-radius: 7px;
        top: -8px;
        left: 20%;
        background-color: #f3f9ff; }
        .main_wrap_form .form_img .form_img_top {
          margin-right: 8px; }
      .main_wrap_form .form_title {
        margin-top: 1.25rem;
        text-align: center;
        margin: 0 auto;
        line-height: 1.35;
        color: #000000;
        font-weight: 400;
        font-size: 1.25rem;
        max-width: 165px;
        width: 100%;
        margin-bottom: 1.125rem;
        font-family: "Roboto-Regular"; }
        .main_wrap_form .form_title_date {
          display: block;
          font-family: "Roboto-Medium";
          color: #ff6b00; }
      .main_wrap_form .form_price {
        max-width: 205px;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 1rem;
        display: flex;
        justify-content: space-around; }
        .main_wrap_form .form_price_old {
          align-items: center;
          display: flex;
          flex-direction: column;
          color: #666666;
          font-size: 0.875rem;
          line-height: 1.5;
          font-family: 'Roboto-Regular'; }
          .main_wrap_form .form_price_old .form_old_price_number {
            position: relative;
            color: #0b0b0b;
            font-family: "Roboto-Light";
            font-size: 2.125rem; }
            .main_wrap_form .form_price_old .form_old_price_number::before {
              position: absolute;
              content: '';
              width: 90px;
              height: 1px;
              top: 50%;
              background-color: #ea7845;
              transform: rotate(17deg);
              right: 3%; }
            .main_wrap_form .form_price_old .form_old_price_number::after {
              position: absolute;
              content: '';
              width: 90px;
              height: 1px;
              top: 50%;
              background-color: #ea7845;
              transform: rotate(-17deg);
              right: 3%; }
        .main_wrap_form .form_price_new {
          display: flex;
          font-size: 0.875rem;
          align-items: center;
          line-height: 1.5;
          font-family: 'Roboto-Regular';
          flex-direction: column; }
          .main_wrap_form .form_price_new .form_new_price_number {
            font-family: 'Roboto-Black';
            position: relative;
            color: #000000;
            font-size: 2.125rem;
            line-height: 1.5;
            padding: 2px 6px;
            border-radius: 5px;
            background-image: linear-gradient(to right, #ffbc02 0%, #ffce02 100%); }
            .main_wrap_form .form_price_new .form_new_price_number::after {
              content: url(../img/form_to.svg);
              position: absolute;
              top: 50%;
              left: 110%; }
      .main_wrap_form .form {
        margin-bottom: 20px;
        max-width: 220px;
        width: 100%; }
        .main_wrap_form .form_your_name {
          position: relative;
          margin-bottom: 10px; }
          .main_wrap_form .form_your_name::before {
            top: 32%;
            position: absolute;
            left: 6%;
            content: url(../img/form.svg); }
          .main_wrap_form .form_your_name .form_name {
            font-size: 1rem;
            color: #666666;
            padding: 20px 10px 20px 40px;
            background-color: #eef2f7;
            box-shadow: inset 0 2px 7px rgba(0, 0, 0, 0.04);
            border: none;
            border-radius: 32px;
            font-family: 'Roboto-Regular';
            outline: none; }
        .main_wrap_form .form_your_number {
          position: relative;
          margin-bottom: 1rem; }
          .main_wrap_form .form_your_number::before {
            left: 6%;
            position: absolute;
            top: 32%;
            content: url(../img/form1.svg); }
          .main_wrap_form .form_your_number .form_number {
            font-size: 1rem;
            padding: 20px 10px 20px 40px;
            background-color: #eef2f7;
            box-shadow: inset 0 2px 7px rgba(0, 0, 0, 0.04);
            border: none;
            border-radius: 32px;
            color: #666666;
            font-family: 'Roboto-Regular';
            outline: none; }
        .main_wrap_form .form_button {
          max-width: 220px;
          width: 100%;
          padding: 5px 0;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          border-radius: 100px;
          background-image: linear-gradient(to right, #ffbc02 0%, #ffce02 100%); }
          .main_wrap_form .form_button_submit {
            padding: 0 38px;
            display: inline-flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 1.75rem;
            font-family: 'Roboto-Black';
            font-weight: 700;
            line-height: 1.375;
            border-radius: 100px;
            background-image: linear-gradient(to right, #ffbc02 0%, #ffce02 100%);
            border: 2px solid #ead3d3; }
            .main_wrap_form .form_button_submit .form_button_subtitle {
              font-size: 1rem; }
      .main_wrap_form .form_about {
        margin-bottom: 1rem;
        max-width: 188px;
        line-height: 1.125;
        width: 100%;
        display: block;
        text-align: center;
        font-family: 'Roboto-Regular';
        font-weight: 400;
        color: #333333;
        font-size: 1.125rem; }
        .main_wrap_form .form_about .form_about_numer {
          font-family: 'Roboto-Medium';
          color: #9dbd39; }
      .main_wrap_form .form_defense {
        display: flex;
        width: 256px;
        position: relative;
        left: -18px;
        flex-direction: row-reverse;
        justify-content: space-evenly;
        align-items: center;
        color: #666666;
        font-size: 0.875rem;
        line-height: 1;
        background-color: #eef2f7;
        padding: 10px 0;
        z-index: 2;
        border-radius: 0 0 5px 5px; }
  .main_tablets {
    position: absolute;
    display: flex;
    left: -3rem;
    top: 30rem; }
    .main_tablets .tablest_price {
      font-family: 'Roboto-Black';
      color: #ffffff;
      font-size: 2.125rem; }
    .main_tablets .orange {
      position: absolute;
      top: -15px;
      left: 52%;
      padding: 10px 10px;
      background-color: #ff6b00;
      border-radius: 8px; }
    .main_tablets .green {
      position: absolute;
      top: 30%;
      left: 62%;
      padding: 10px 10px;
      background-color: #a8ca3f;
      border-radius: 8px; }
  .main .tablets_img_two {
    position: absolute;
    top: 39%;
    left: 15%; }

.dengerous {
  padding: 150px 0 0 0; }
  .dengerous_title {
    position: relative;
    text-align: center;
    font-family: 'Roboto-Black';
    margin: 50px 0 35px 0;
    color: #383334;
    line-height: 1;
    font-size: 3rem; }
    .dengerous_title::after {
      position: absolute;
      content: url(../img/logo.png);
      top: -6rem;
      left: 50%; }
  .dengerous_subtitle {
    font-size: 1.5rem;
    text-align: center;
    font-family: 'Roboto-Black';
    color: #383334;
    margin-bottom: 55px; }
  .dengerous_card {
    margin-bottom: 70px;
    display: flex;
    justify-content: space-between; }
  .dengerous_wrap {
    max-width: 305px;
    width: 100%; }
    .dengerous_wrap .dengerous_card_item {
      position: relative;
      margin-bottom: 50px;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      color: #000000;
      font-size: 1.375rem;
      font-family: 'Roboto-Medium'; }
      .dengerous_wrap .dengerous_card_item .card_img {
        margin-right: 15px; }
    .dengerous_wrap .item_last::before {
      content: '3';
      position: absolute;
      top: 15px;
      left: 49%;
      z-index: 5;
      color: #ffffff;
      font-size: 1.875rem; }
    .dengerous_wrap .item_last::after {
      content: url(../img/dengerous_img2.png);
      position: absolute;
      top: -20px;
      left: -10px;
      transform: rotate(10deg); }
    .dengerous_wrap .item_next::before {
      content: '2';
      position: absolute;
      top: 15px;
      left: 47%;
      z-index: 5;
      color: #ffffff;
      font-size: 1.875rem; }
    .dengerous_wrap .item_next::after {
      content: url(../img/dengerous_img1.png);
      position: absolute;
      top: -20px;
      left: -14px;
      transform: rotate(10deg); }
    .dengerous_wrap .item_first::before {
      content: '1';
      position: absolute;
      top: 10px;
      left: 47%;
      z-index: 5;
      color: #ffffff;
      font-size: 1.875rem; }
    .dengerous_wrap .item_first::after {
      content: url(../img/dengerous_img.png);
      position: absolute;
      opacity: 1;
      top: -20px;
      left: -15px;
      transform: rotate(5deg); }
    .dengerous_wrap .dengerous_wrap_about {
      color: #444444;
      max-width: 302px;
      width: 100%;
      font-family: 'Roboto-Regular';
      font-size: 1.125rem;
      line-height: 1.5;
      position: relative; }
      .dengerous_wrap .dengerous_wrap_about::after {
        content: '';
        position: absolute;
        top: -20px;
        width: 50px;
        height: 3px;
        background-color: #becbd8;
        left: 0; }
  .dengerous_footer {
    border-radius: 5px;
    position: relative;
    margin: 0 auto;
    padding: 40px 90px;
    border: 3px solid #f4d3bb;
    font-size: 1.375rem;
    text-align: center;
    line-height: 1.2;
    color: #444444;
    font-family: 'Roboto-Regular'; }
    .dengerous_footer .dengerous_footer_title {
      font-family: 'Roboto-Medium';
      color: #000000; }
    .dengerous_footer::after {
      content: url(../img/footer.svg);
      position: absolute;
      top: -20px;
      width: 200px;
      text-align: center;
      height: 50px;
      background-color: white;
      right: 40%; }

.about_disease {
  position: relative;
  background-image: url(../img/back.png);
  padding: 160px 0 60px 0; }
  .about_disease::after {
    content: '';
    position: absolute;
    bottom: 0rem;
    width: 100%;
    height: 30px;
    background-image: url(../img/for_bh.png); }
  .about_disease_title {
    position: relative;
    text-align: center;
    font-family: 'Roboto-Black';
    margin: 50px 0 75px 0;
    color: #383334;
    line-height: 1;
    font-size: 3rem; }
    .about_disease_title::after {
      position: absolute;
      content: url(../img/logo.png);
      top: -6rem;
      left: 50%; }
  .about_disease .disease_card {
    margin-bottom: 60px;
    display: flex;
    justify-content: space-around; }
    .about_disease .disease_card_wrap {
      background-color: #ffffff;
      z-index: 2;
      position: relative;
      border-top: 5px solid  #a8c53a;
      padding: 80px 20px 20px 20px;
      color: #444444;
      font-family: 'Roboto-Regular';
      font-size: 1.125rem;
      text-align: center;
      max-width: 370px;
      width: 100%; }
      .about_disease .disease_card_wrap .disease_img {
        position: absolute;
        top: -48px;
        left: 40%;
        width: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        background: #f3f9ff;
        border-radius: 50%; }
      .about_disease .disease_card_wrap .disease_wrap_title {
        font-size: 1.5rem;
        color: #000000;
        font-family: 'Roboto-Black';
        font-weight: 700;
        margin-bottom: 1rem; }
      .about_disease .disease_card_wrap .disease_wrap_subtitle {
        font-family: 'Roboto-Medium';
        line-height: 1.2;
        color: #222222;
        font-weight: 500; }
      .about_disease .disease_card_wrap .disease_wrap_how {
        color: #666666;
        font-size: 1rem;
        line-height: 1.5; }
      .about_disease .disease_card_wrap .disease_wrap_deng {
        margin-top: 50px;
        margin-bottom: 20px;
        position: relative;
        font-family: 'Roboto-Black';
        font-weight: 400;
        color: #ff6b00;
        font-size: 1.5rem; }
        .about_disease .disease_card_wrap .disease_wrap_deng::after {
          position: absolute;
          content: '';
          background-color: #fff;
          width: 22px;
          height: 22px;
          left: 47%;
          top: -37px;
          transform: rotate(45deg);
          border-bottom: 1px solid #d2dce6;
          border-right: 1px solid #d2dce6; }
        .about_disease .disease_card_wrap .disease_wrap_deng::before {
          position: absolute;
          content: '';
          background-color: #d2dce6;
          right: -15px;
          height: 1px;
          width: 330px;
          top: -27px; }
      .about_disease .disease_card_wrap .mod--first {
        max-width: 305px;
        width: 100%;
        margin: 0 auto; }
      .about_disease .disease_card_wrap .mod--second {
        max-width: 320px;
        width: 100%;
        margin: 0 auto; }
      .about_disease .disease_card_wrap .mod--last {
        max-width: 280px;
        width: 100%;
        margin: 0 auto; }
      .about_disease .disease_card_wrap .disease_wrap_about {
        line-height: 1.5; }
        .about_disease .disease_card_wrap .disease_wrap_about .disease_wrap_about-mod {
          color: #000000;
          font-family: 'Roboto-Medium'; }
  .about_disease .disease_footer {
    border-radius: 5px;
    position: relative;
    margin: 0 auto;
    padding: 40px 90px;
    border: 3px solid #f4d3bb;
    font-size: 1.375rem;
    text-align: center;
    line-height: 1.2;
    color: #444444;
    font-family: 'Roboto-Regular'; }
    .about_disease .disease_footer .dengerous_footer_title {
      font-family: 'Roboto-Medium';
      color: #000000; }
    .about_disease .disease_footer::after {
      content: 'вывод:';
      position: absolute;
      color: #000000;
      font-family: 'Roboto-Medium';
      font-size: 1.375rem;
      top: -10px;
      width: 200px;
      text-align: center;
      height: 50px;
      background: #f3f9ff;
      right: 40%;
      z-index: 5; }
    .about_disease .disease_footer::before {
      content: '!';
      position: absolute;
      top: -40px;
      opacity: 0.4;
      color: #f4d3bb;
      font-size: 4.375rem;
      z-index: 10;
      background: transparent; }

.effective {
  padding: 60px 0 0 0;
  text-align: center; }
  .effective_title {
    font-family: 'Roboto-Black';
    color: #000000;
    font-size: 3rem;
    position: relative;
    line-height: 1.1;
    margin-bottom: 1.5rem; }
    .effective_title::after {
      content: url(../img/effective.svg);
      position: absolute;
      top: -4rem;
      left: 48%; }
    .effective_title_orange {
      color: #fa4f01; }
  .effective_subtitle {
    font-size: 1.4375rem;
    font-family: "Roboto-Regular";
    color: #444444;
    margin-bottom: 5rem; }
  .effective_card {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem; }
    .effective_card .effective_wrap {
      background-color: #ffffff;
      position: relative;
      border-radius: 5px;
      border: 4px solid #f64d01;
      padding: 80px 20px 20px 20px;
      max-width: 370px;
      width: 100%; }
      .effective_card .effective_wrap_title {
        font-family: 'Roboto-Black';
        color: #000000;
        font-size: 1.5rem;
        margin-bottom: 1rem; }
      .effective_card .effective_wrap_about {
        font-family: "Roboto-Regular";
        color: #444444;
        line-height: 1.5;
        font-size: 1.125rem; }
        .effective_card .effective_wrap_about .effective_about_mod {
          font-family: 'Roboto-Medium';
          color: #000000; }
      .effective_card .effective_wrap .effective_img {
        display: flex;
        justify-content: center;
        align-items: center;
        top: -4px;
        left: 35%;
        position: absolute;
        width: 120px;
        height: 60px;
        background-color: #ffffff;
        border-top: 5px solid #ffffff;
        border-left: 4px solid #f64d01;
        border-right: 4px solid #f64d01;
        border-bottom: 4px solid #f64d01;
        border-radius: 0 0 50% 50% / 0 0 100% 100%; }
        .effective_card .effective_wrap .effective_img .effective_image {
          position: absolute;
          top: -40px; }
        .effective_card .effective_wrap .effective_img .effective_image_mod {
          top: -80px; }
    .effective_card .effective_wrap_green {
      border: 4px solid #62bd1f; }
      .effective_card .effective_wrap_green .effective_img_green {
        border-top: 5px solid #ffffff;
        border-left: 4px solid #62bd1f;
        border-right: 4px solid #62bd1f;
        border-bottom: 4px solid #62bd1f; }
    .effective_card .effective_about_first {
      max-width: 308px;
      width: 100%; }
    .effective_card .effective_about_last {
      max-width: 335px;
      width: 100%; }
  .effective_footer {
    padding: 2rem 1rem;
    border: 4px solid transparent;
    -o-border-image: linear-gradient(to right, #f64d01 0%, #62bd1f 100%);
       border-image: linear-gradient(to right, #f64d01 0%, #62bd1f 100%);
    border-image-slice: 1;
    font-family: 'Roboto-Medium';
    color: #000000;
    line-height: 1.5;
    font-size: 1.6875rem; }
    .effective_footer_text_mod {
      color: #f64d01; }

.how_use {
  text-align: center;
  padding: 190px 0 60px 0;
  background-image: url(../img/background_use.png);
  background-size: cover; }
  .how_use_title {
    position: relative;
    font-family: 'Roboto-Black';
    color: #000000;
    font-size: 2.9375rem;
    margin-bottom: 5rem; }
    .how_use_title:after {
      position: absolute;
      content: url(../img/logo.png);
      top: -5rem;
      left: 50%; }
    .how_use_title_mod {
      color: #fa4f01; }
  .how_use .use_card {
    display: flex;
    justify-content: center; }
    .how_use .use_card .use_tablets_image {
      max-width: 450px;
      width: 100%; }
    .how_use .use_card .how_it_use {
      margin-left: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      .how_use .use_card .how_it_use .how_it_use_wrap {
        display: flex;
        align-items: center; }
        .how_use .use_card .how_it_use .how_it_use_wrap .use_wrap_image {
          display: inline-flex;
          justify-content: center;
          align-items: center;
          width: 120px;
          height: 120px;
          background-color: #ffffff;
          border-radius: 50%;
          border: 7px solid #f64d01;
          box-shadow: 0 0 0 7px #ebe4d9; }
          .how_use .use_card .how_it_use .how_it_use_wrap .use_wrap_image .use_wrap_img {
            max-width: 60px;
            width: 100%;
            max-height: 60px;
            height: 100%; }
        .how_use .use_card .how_it_use .how_it_use_wrap .use_wrap_text {
          max-width: 220px;
          width: 100%;
          font-size: 1.125rem;
          position: relative;
          margin-left: 2rem;
          text-align: start;
          font-family: 'Roboto-Medium'; }
          .how_use .use_card .how_it_use .how_it_use_wrap .use_wrap_text::after {
            content: '';
            width: 20px;
            height: 3px;
            position: absolute;
            background-color: #7bbf1c;
            top: -2rem;
            left: 0; }

@media (max-width: 1150px) {
  .main .main_wrap {
    margin: 0 auto;
    justify-content: space-between; }
  .main .main_tablets {
    position: relative;
    left: 0;
    top: 0;
    justify-content: center; }
  .main .main_tablets .orange {
    left: 52%; }
  .main .main_tablets .green {
    left: 42%; }
  .dengerous_card {
    flex-wrap: wrap;
    justify-content: space-around; }
    .dengerous_card .dengerous_wrap {
      margin: 20px; }
  .about_disease .disease_card {
    flex-wrap: wrap; }
  .about_disease .disease_card_wrap {
    margin: 30px; }
  .effective_card {
    flex-wrap: wrap;
    justify-content: space-around; }
  .effective_card .effective_wrap {
    margin: 20px; }
  .how_use .use_card {
    flex-wrap: wrap; }
  .dengerous_footer {
    margin: 30px; }
  .about_disease .disease_footer {
    margin: 30px; }
  .effective_footer {
    margin: 30px; } }

@media (max-width: 850px) {
  .how_use .use_card .how_it_use .how_it_use_wrap {
    margin: 20px; }
  .dengerous_footer::after {
    right: 35%; }
  .effective_card .effective_wrap {
    margin: 40px 20px; } }

@media (max-width: 750px) {
  .main_wrap_form .form_img {
    background-color: #ffffff;
    border-top: 9px solid #ffffff; }
  .about_disease .disease_footer::after {
    right: 35%; }
  .main_wrap_about {
    margin: 20px; }
  .main_wrap_form {
    margin: 20px; }
  .main .main_wrap {
    justify-content: center;
    flex-wrap: wrap; }
  .main_header {
    flex-wrap: wrap;
    justify-content: center; }
  .main .header_list .header_item {
    margin-left: 0rem; }
  .main .header_list {
    margin: 20px; } }

@media (max-width: 600px) {
  .about_disease .disease_footer {
    padding: 40px 20px; }
  .about_disease .disease_footer::after {
    right: 30%; }
  .dengerous_footer {
    padding: 20px 20px; }
  .main .main_tablets {
    max-width: 600px;
    width: 100%; }
  .dengerous_footer::after {
    right: 25%;
    top: -35px; }
  .tablets_img {
    max-width: 400px;
    width: 100%; }
  .tablets_img_two {
    max-width: 300px;
    width: 100%; }
  .how_use .use_card .how_it_use .how_it_use_wrap .use_wrap_image {
    max-width: 120px;
    width: 100%; } }

@media (max-width: 450px) {
  .main .header_list .header_item {
    margin-bottom: 10px; }
  .about_disease .disease_footer::after {
    right: 25%; }
  .main .main_tablets {
    margin-top: 20px; }
  .about_disease_title {
    font-size: 2rem; }
  .header_list {
    flex-wrap: wrap;
    justify-content: space-around; } }

@media (max-width: 400px) {
  .about_disease .disease_footer {
    padding: 40px 0; }
  .dengerous_footer::after {
    right: 15%; }
  .main .tablets_img_two {
    left: 0; }
  .about_disease .disease_card_wrap .disease_img {
    left: 37%; } }

@media (max-width: 350px) {
  .about_disease .disease_footer {
    padding: 40px 0; }
  .effective_card .effective_wrap .effective_img {
    left: 30%; }
  .about_disease .disease_footer::after {
    right: 7%; }
  .dengerous_footer::after {
    right: 10%; }
  .about_disease .disease_card_wrap .disease_img {
    left: 35%; } }
