html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

body {
  background: #cecece; }

.header {
  max-width: 90vw;
  width: 100%;
  margin: 0 auto; }
  .header__logo {
    padding: 2rem 0;
    font-size: 3rem;
    text-transform: uppercase;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: #333333; }
    .header__logo_blue {
      color: #3d97ad; }

.list_item {
  max-width: 50vw;
  width: 100%; }

.list {
  max-width: 80vw;
  width: 100%;
  margin: 0 auto;
  display: flex; }

.list_card {
  display: flex;
  margin: 2.1rem 0;
  position: relative; }

.list_item__about {
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.2;
  color: #8a8686; }

.list_item__title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #333333;
  margin-bottom: 0.5rem;
  font-weight: 600; }

.list_item_text {
  padding: 3.1rem 2rem;
  max-width: 30vw;
  width: 100%;
  background: #f8f8f8;
  box-shadow: 0px 10px 20px -5px rgba(122, 116, 122, 0.54); }

.list_item_icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  max-width: 10vw;
  position: relative;
  font-size: 3rem;
  color: #f8f8f8;
  width: 100%;
  -webkit-clip-path: polygon(0 0, 100% 50%, 0 100%);
          clip-path: polygon(0 0, 100% 50%, 0 100%); }

.list_item_right .list_card {
  flex-direction: row-reverse; }
  .list_item_right .list_card::before {
    content: "";
    right: 0;
    position: absolute;
    width: 0.1rem;
    height: 1.4rem;
    background: transparent;
    transform: translateX(-30%);
    top: -1.5rem;
    left: 30%;
    box-shadow: -14px 0px 20px 9px rgba(111, 107, 107, 0.5); }
  .list_item_right .list_card:last-child::after {
    content: "";
    right: 0;
    position: absolute;
    width: 0.1rem;
    height: 8rem;
    background: transparent;
    transform: translateX(-30%);
    top: 100%;
    left: 30%;
    box-shadow: -14px 0px 20px 9px rgba(111, 107, 107, 0.5); }
  .list_item_right .list_card .list_item_icon {
    -webkit-clip-path: polygon(100% 0, 0 50%, 100% 100%);
            clip-path: polygon(100% 0, 0 50%, 100% 100%); }

.list_item_left {
  padding: 7rem 0 0 0;
  margin-right: -7rem; }
  .list_item_left .list_card::before {
    content: "";
    right: 0;
    position: absolute;
    width: 0.1rem;
    height: 1.4rem;
    background: transparent;
    transform: translateX(-30%);
    top: 100%;
    left: 70%;
    box-shadow: 11px 1px 20px 9px rgba(111, 107, 107, 0.5); }
  .list_item_left .list_card:first-child::after {
    content: "";
    right: 0;
    position: absolute;
    width: 0.1rem;
    height: 7rem;
    background: transparent;
    transform: translateX(-30%);
    top: -70%;
    left: 70%;
    box-shadow: 11px 1px 20px 9px rgba(111, 107, 107, 0.5); }

.footer {
  box-shadow: -1px 6px 49px 5px #575457;
  background: #f8f8f8;
  max-width: 100vw;
  padding: 1rem 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  line-height: 1.2;
  color: #8a8686; }
  .footer .footer__title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 600;
    color: #333333; }
  .footer .wrapper {
    max-width: 80vw;
    width: 100%;
    margin: 0 auto; }

.list_item_left .list_item__title {
  text-align: end; }

.title_blue {
  color: #3d97ad; }

.title_orange {
  color: #ec8e3f; }

.title_red {
  color: #e66465; }

.title_darkblue {
  color: #001ba5; }

.list_item_icon_orange {
  background: linear-gradient(to bottom, #ec8e3f 50%, #c96f26 50%); }

.list_item_icon_grad_blue {
  background: linear-gradient(to bottom, #3d97ad 50%, #2a8fa8 50%); }

.list_item_icon_grad_red {
  background: linear-gradient(to bottom, #e66465 50%, #c24848 50%); }

.list_item_icon_grad_darkblue {
  background: linear-gradient(to bottom, #2741c4 50%, #0823a8 50%); }

@media (max-width: 1200px) {
  .list_item_text {
    padding: 2.1rem 2rem; }
  .list_item_icon {
    max-width: 15vw; }
  .list_item_text {
    max-width: 40vw; }
  .list_item_right .list_card:last-child::after {
    left: 33%; }
  .list_item_right .list_card::before {
    left: 33%; }
  .list_item_left .list_card::before {
    left: 67%; }
  .list_item_left .list_card:first-child::after {
    left: 67%; } }

@media (max-width: 992px) {
  .list_item_right .list_card:last-child::after {
    height: 1rem;
    left: 25%; }
  .list_item_right .list_card::before {
    left: 25%; }
  .list_item_left .list_card::before {
    left: 75%; }
  .list_item_left .list_card:first-child::after {
    height: 1rem;
    left: 75%;
    top: -12%; }
  .list {
    flex-direction: column;
    align-items: center; }
  .list_item_text {
    padding: 3.1rem 2rem; }
  .list_item {
    max-width: 80vw; }
  .list_item_text {
    max-width: 60vw; }
  .list_item_icon {
    max-width: 20vw; }
  .list_item_left {
    padding: 0rem 0 0 0;
    margin-right: 0rem; } }

@media (max-width: 576px) {
  .list_item_right .list_card:last-child::after {
    height: 1rem;
    left: 30%; }
  .list_item_right .list_card::before {
    left: 30%; }
  .list_item_left .list_card::before {
    left: 68%; }
  .list_item_left .list_card:first-child::after {
    height: 1rem;
    left: 68%;
    top: -12%; }
  .list_item_text {
    padding: 1.1rem 1rem; }
  .header__logo {
    font-size: 2rem;
    text-align: center; }
  .footer {
    font-size: 1rem; }
  .list_item__about {
    font-size: 0.8rem; }
  .list_item_icon {
    max-width: 25vw; } }

@media (min-width: 1920px) {
  .list_item_text {
    padding: 5rem 3rem; }
  .list_item_left .list_card:first-child::after {
    top: -57%; } }
