@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: "Gilroy-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Gilroy-Bold.eot?") format("eot"), url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.ttf") format("truetype"), url("../fonts/Gilroy-Bold.svg#Gilroy-Bold") format("svg"); }

@font-face {
  font-family: "Gilroy-SemiBold";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Gilroy-SemiBold.eot?") format("eot"), url("../fonts/Gilroy-SemiBold.woff2") format("woff2"), url("../fonts/Gilroy-SemiBold.woff") format("woff"), url("../fonts/Gilroy-SemiBold.ttf") format("truetype"), url("../fonts/Gilroy-SemiBold.svg#Gilroy-SemiBold") format("svg"); }

@font-face {
  font-family: "Gilroy-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Gilroy-Regular.eot?") format("eot"), url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.ttf") format("truetype"), url("../fonts/Gilroy-Regular.svg#Gilroy-Regular") format("svg"); }

@font-face {
  font-family: "Gilroy-Medium";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Gilroy-Medium.eot?") format("eot"), url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.ttf") format("truetype"), url("../fonts/Gilroy-Medium.svg#Gilroy-Medium") format("svg"); }

@font-face {
  font-family: "Gilroy-SemiBold";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Gilroy-SemiBold.eot?") format("eot"), url("../fonts/Gilroy-SemiBold.woff2") format("woff2"), url("../fonts/Gilroy-SemiBold.woff") format("woff"), url("../fonts/Gilroy-SemiBold.ttf") format("truetype"), url("../fonts/Gilroy-SemiBold.svg#Gilroy-SemiBold") format("svg"); }

* {
  box-sizing: border-box; }

html {
  position: relative;
  min-height: 100%; }

body {
  height: 100%; }

main {
  padding-top: 100px;
  padding-bottom: 140px; }

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto; }

.btn {
  cursor: pointer;
  padding: 12px 35px;
  color: white;
  background-color: #B6251D;
  border: none;
  border-radius: 30px;
  text-align: center;
  font-family: 'Gilroy-Medium';
  font-size: 15px; }

.header {
  background: #FFFFFF;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  position: fixed;
  left: 0;
  right: 0;
  z-index: 50;
  top: 0; }
  .header .btn:hover {
    transition: color 0.25s ease-out;
    color: #000000; }
  .header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header .logo {
    display: flex; }
    .header .logo__image {
      max-width: 100%;
      -o-object-fit: contain;
         object-fit: contain;
      -o-object-position: center;
         object-position: center; }
  .header .logo a {
    width: 130px;
    height: 100px; }
  .header .nav {
    max-width: 680px;
    width: 100%; }
    .header .nav ul {
      display: flex;
      justify-content: space-between;
      align-items: center; }
    .header .nav__link {
      font-family: 'Gilroy-Regular';
      color: #848181;
      text-decoration: none; }
      .header .nav__link:hover, .header .nav__link :active {
        color: #000000;
        transition: color 0.25s ease-out; }
  .header .default {
    padding: 5px 0; }
    .header .default img {
      margin-left: 5px; }
  .header .dropdown {
    position: relative; }
    .header .dropdown:hover .dropdown-content {
      display: block; }
    .header .dropdown-content {
      position: absolute;
      display: none;
      bottom: -20px; }

.main {
  padding: 20px 0; }
  .main .slick-prev {
    left: 0;
    z-index: 2; }
  .main .slick-next {
    z-index: 2;
    right: 25px; }
  .main .slick-next:before {
    content: url(../img/right.svg); }
  .main .slick-prev:before {
    content: url(../img/left.svg); }
  .main .slick-dots li {
    margin: 0 15px; }
  .main .slick-dotted.slick-slider {
    margin-bottom: 0; }
  .main .slick-dots {
    z-index: 1;
    bottom: 15px; }
  .main .slick-dots li button {
    width: 30px;
    height: 6px; }
  .main .slick-dots li button:before {
    content: url(../img/ul.svg);
    width: 30px;
    height: 6px;
    margin-right: 5px; }
  .main__title {
    font-family: 'Gilroy-Medium';
    opacity: 0.75;
    font-size: 50px;
    line-height: 59px;
    color: #000000;
    margin-left: 180px; }
  .main-wrap {
    padding-top: 10px;
    position: relative; }
  .main__subtitle {
    font-family: 'Gilroy-Medium';
    font-style: italic;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
    opacity: 0.75;
    margin-left: 180px; }
  .main .year {
    font-family: 'Gilroy-Bold';
    margin-right: 35px;
    padding-top: 10px;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.5); }
    .main .year span {
      display: block;
      font-size: 40px; }
  .main-info {
    min-height: 637px; }
    .main-info .main__img {
      min-height: 607px; }
  .main-header {
    top: 10px;
    position: absolute;
    max-width: 1170px;
    width: 100%;
    z-index: 1;
    display: flex; }
    .main-header__wrap {
      margin: 0 auto; }
  .main__text {
    font-family: 'Gilroy-Medium';
    font-size: 35px;
    line-height: 41px;
    margin-left: 70px;
    max-width: 700px;
    width: 100%;
    color: #000000;
    margin-bottom: 30px; }
  .main .btn-about {
    cursor: pointer;
    max-width: 146px;
    width: 100%;
    font-size: 20px;
    color: #000000;
    margin-left: 70px; }
    .main .btn-about::after {
      content: url(../img/black-arrow.svg); }
  .main-about {
    left: 0;
    right: 0;
    bottom: 0px;
    position: absolute;
    width: 1170px;
    margin: 0 auto;
    padding: 100px 0 50px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.401042) 22.4%, rgba(255, 255, 255, 0.7) 50.52%, #FFFFFF 100%); }

.section-title {
  color: #FFFFFF;
  font-family: 'Gilroy-Medium';
  font-size: 35px; }

.btn-about {
  position: relative;
  display: flex;
  align-items: center;
  font-family: 'Gilroy-Medium';
  text-decoration: none; }
  .btn-about::after {
    position: absolute;
    content: url(../img/black-arrow.svg);
    right: 0px; }
  .btn-about:hover::after {
    transition: right 0.25s ease-out;
    right: -4px; }

.award {
  background-color: #F0F0F0;
  padding: 50px 0; }
  .award-wrap {
    margin-top: 63px;
    margin-bottom: 63px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap; }
  .award__btn {
    max-width: 190px;
    margin: 0 auto;
    color: #000000;
    font-size: 20px; }
  .award .awards {
    width: 30.3%; }
    .award .awards:last-child .awards__text {
      border-right: none; }
    .award .awards__title {
      font-family: 'Gilroy-Bold';
      font-size: 65px;
      color: #C4C4C4;
      text-align: center;
      margin-bottom: 20px;
      max-width: 335px;
      width: 100%; }
    .award .awards__text {
      padding-right: 30px;
      max-width: 335px;
      width: 100%;
      color: #848181;
      font-family: 'Gilroy-Regular';
      font-size: 22px;
      text-align: center;
      line-height: 29px;
      border-right: 1px solid #848181; }
  .award .section-title {
    color: #000000;
    text-align: center; }

.news {
  padding: 60px 0;
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  background-position-x: 20%;
  background-position-y: center; }
  .news .section-title {
    text-align: center;
    color: #000000; }
  .news-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 30px 0 45px 0; }
  .news__btn {
    color: #8F0303;
    max-width: 160px;
    margin: 0 auto;
    font-size: 20px; }
    .news__btn::after {
      content: url(../img/big_arrow.svg); }

.article {
  margin: 15px;
  max-width: 300px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-bottom: 13px;
  background: white;
  min-height: 464px; }
  .article:hover {
    transform: scale(1.1); }
  .article-section {
    margin-bottom: 50px;
    padding: 0 20px  0 30px; }
  .article figure {
    width: 300px;
    height: 220px;
    position: relative; }
    .article figure::before {
      content: "";
      position: absolute;
      width: 0;
      z-index: 5;
      height: 0;
      border-style: solid;
      border-width: 30px 150px;
      border-color: transparent transparent white white;
      /* red — цвет */
      bottom: 0;
      right: 0;
      left: 0; }
  .article__img {
    -o-object-fit: contain;
       object-fit: contain;
    -o-object-position: center;
       object-position: center;
    max-width: 100%; }
  .article__date {
    position: relative;
    top: -10px;
    font-size: 20px;
    font-family: 'Gilroy-Regular';
    color: #848181;
    z-index: 6; }
  .article__title {
    font-family: 'Gilroy-SemiBold';
    font-size: 25px;
    line-height: 31px;
    color: #000000;
    margin-bottom: 12px; }
  .article__text {
    font-family: 'Gilroy-Regular';
    font-size: 20px;
    line-height: 23px;
    color: #848181; }
  .article .btn-article {
    color: #8F0303;
    margin-left: auto;
    margin-right: 17px;
    max-width: 82px; }
    .article .btn-article::after {
      bottom: -2px;
      content: url(../img/red-arrow.svg); }

.family {
  background: #484B4C;
  padding: 60px; }
  .family-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .family .btn {
    font-size: 20px;
    background-color: #484B4C;
    border: 2px solid #FFFFFF; }
    .family .btn:hover {
      transition: color 0.25s ease-out;
      background-color: #FFFFFF;
      border: 2px solid  #484B4C;
      color: #484B4C; }
  .family .section-title {
    font-size: 25px; }

.hear {
  padding: 60px;
  background-color: #F0F0F0; }
  .hear .btn {
    font-size: 20px;
    background-color: #F0F0F0;
    border: 2px solid #848181;
    color: #848181; }
    .hear .btn:hover {
      transition: color 0.25s ease-out;
      background-color: #848181;
      border: 2px solid  #F0F0F0;
      color: #F0F0F0; }
  .hear .section-title {
    color: #848181;
    font-size: 25px; }

.community {
  padding: 60px 0; }
  .community .slick-prev {
    left: 0;
    z-index: 2; }
  .community .slick-next {
    z-index: 2;
    right: 25px; }
  .community .slick-next:before {
    content: url(../img/right.svg); }
  .community .slick-prev:before {
    content: url(../img/left.svg); }
  .community .section-title {
    text-align: center;
    color: #000000; }
  .community-wrap {
    margin: 80px 0; }
  .community__img {
    -o-object-fit: scale-down;
       object-fit: scale-down;
    height: 100px; }

.contacts {
  padding: 60px 0 60px; }
  .contacts .section-title {
    text-align: center;
    color: #000000;
    margin-bottom: 60px; }
  .contacts-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .contacts-map {
    max-width: 70%; }
    .contacts-map img {
      -o-object-fit: cover;
         object-fit: cover; }
  .contacts__title {
    font-family: 'Gilroy-Medium';
    font-size: 30px;
    color: #000000;
    margin-bottom: 15px; }
  .contacts__text {
    font-size: 20px;
    line-height: 23px;
    text-decoration: none;
    display: block;
    color: #000000;
    font-family: 'Gilroy-Regular'; }
  .contacts-about:last-child {
    margin-top: 20px; }

.footer {
  padding: 20px;
  background-color: #484B4C;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 140px; }
  .footer .btn {
    font-size: 20px;
    background-color: #484B4C;
    border: 2px solid #FFFFFF; }
    .footer .btn:hover {
      transition: color 0.25s ease-out;
      background-color: #F0F0F0;
      border: 2px solid #F0F0F0;
      color: #484B4C; }
  .footer-nav {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .footer-menu {
    display: flex; }
  .footer-colum {
    display: flex;
    flex-direction: column;
    margin-right: 70px; }
  .footer__link {
    font-family: 'Gilroy-Regular';
    font-size: 18px;
    line-height: 23px;
    text-decoration: none;
    color: #FFFFFF;
    margin: 5px 0; }
    .footer__link:hover {
      transition: color 0.25s ease-out;
      color: #000400; }
  .footer .social__link {
    margin-left: 25px; }
  .footer .social__img {
    width: 40px;
    height: 40px; }

.audio {
  padding: 30px 0; }
  .audio .section-title {
    text-align: center;
    color: #000000; }
  .audio img {
    display: block;
    margin: 0 auto; }

.about-main {
  padding: 50px 0; }
  .about-main .section-title {
    color: #000000;
    text-align: center; }
  .about-main__subtitle {
    font-family: 'Gilroy-Regular';
    color: #848181;
    font-size: 25px;
    line-height: 43px;
    max-width: 996px;
    width: 100%;
    margin: 40px auto; }
  .about-main__image img {
    max-width: 100%;
    -o-object-fit: contain;
       object-fit: contain; }
  .about-main__text {
    font-family: 'Gilroy-Regular';
    color: #848181;
    font-size: 18px;
    line-height: 31px;
    max-width: 996px;
    width: 100%;
    margin: 30px auto; }
  .about-main__line {
    width: 310px;
    height: 1px;
    margin: 0 auto;
    background-color: #848181; }

.about-press {
  padding: 50px 0; }
  .about-press .section-title {
    color: #000000;
    text-align: center; }
  .about-press .press-slider__card {
    padding: 30px 0; }
    .about-press .press-slider__card .press-slider__line {
      width: 130px;
      height: 1px;
      background-color: #848181;
      margin: 25px auto; }
    .about-press .press-slider__card blockquote {
      margin: 0 10px;
      width: 270px;
      padding: 12px 10px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }
      .about-press .press-slider__card blockquote .press-slider__text {
        margin-top: 70px;
        font-size: 22px;
        line-height: 26px;
        text-align: center;
        font-family: 'Gilroy-Regular';
        color: #848181;
        min-height: 100px;
        position: relative; }
        .about-press .press-slider__card blockquote .press-slider__text::after {
          content: url(../img/quotes.svg);
          position: absolute;
          top: -50px;
          right: 0;
          left: 0; }
    .about-press .press-slider__card footer cite {
      font-family: 'Gilroy-Medium';
      font-size: 25px;
      line-height: 29px;
      text-align: center;
      display: block;
      color: #000000; }
    .about-press .press-slider__card footer .date {
      font-size: 25px;
      line-height: 29px;
      text-align: center;
      font-family: 'Gilroy-Regular';
      color: #848181; }

.about-award .award-wrap:last-child {
  margin: 80px 0; }

.about-details {
  padding: 60px 0; }
  .about-details .festival {
    display: flex;
    align-items: flex-start;
    justify-content: space-around; }
    .about-details .festival ul {
      font-family: 'Gilroy-Regular';
      font-size: 18px;
      line-height: 31px;
      color: #848181;
      max-width: 434px;
      margin-left: 65px; }
      .about-details .festival ul li {
        list-style: disc; }

.about-famous {
  padding: 30px 0;
  background: #F0F0F0; }
  .about-famous .slick-active .famous-text {
    font-size: 12px; }
  .about-famous .famuous-slider {
    margin-top: 40px; }
  .about-famous .slick-slide {
    margin-top: 20px; }
    .about-famous .slick-slide blockquote {
      height: 250px; }
  .about-famous .slick-slide.slick-current.slick-active.slick-center .famous-text {
    font-size: 15px; }
  .about-famous .slick-slide.slick-current.slick-active.slick-center .famous-card {
    height: 320px; }
  .about-famous .slick-slide.slick-current.slick-active.slick-center blockquote {
    height: 300px;
    position: absolute;
    background-color: #FFFFFF;
    padding: 50px 15px;
    z-index: 100;
    top: 0; }
    .about-famous .slick-slide.slick-current.slick-active.slick-center blockquote::after {
      display: none; }
  .about-famous .famous-autor {
    margin-right: 20px;
    padding-right: 20px;
    border-right: 1px solid #848181; }
  .about-famous .section-title {
    color: #000000;
    text-align: center; }
  .about-famous .famous-text {
    font-size: 15px;
    line-height: 26px;
    color: #848181;
    max-width: 350px;
    width: 100%; }
  .about-famous blockquote {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0px;
    position: relative; }
    .about-famous blockquote::after {
      content: '';
      position: absolute;
      display: block;
      right: 0;
      left: 0;
      top: 0;
      bottom: 0;
      background: linear-gradient(0deg, rgba(196, 196, 196, 0.8), rgba(196, 196, 196, 0.8)); }
    .about-famous blockquote figcaption {
      font-size: 15px;
      line-height: 17px;
      font-family: 'Gilroy-Regular';
      color: #848181;
      text-align: center;
      margin-top: 5px; }
    .about-famous blockquote cite {
      font-size: 25px;
      line-height: 29px;
      font-family: 'Gilroy-Regular';
      color: #000000; }
  .about-famous .pagingInfo {
    display: block;
    text-align: center;
    font-size: 25px;
    line-height: 29px;
    font-family: 'Gilroy-Regular';
    color: #848181; }
  .about-famous .slick-prev {
    left: 500px;
    top: 350px; }
    .about-famous .slick-prev::before {
      content: url(../img/left.svg); }
  .about-famous .slick-next {
    top: 350px;
    right: 500px; }
    .about-famous .slick-next::before {
      content: url(../img/right.svg); }

.full-news {
  padding: 40px 0 120px;
  background-image: url(../img/big-bg.png);
  background-repeat: no-repeat;
  background-position-x: 78%;
  background-position-y: center; }
  .full-news-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; }
  .full-news .big-news {
    max-width: 800px;
    width: 100%; }
  .full-news .big-news-card figure {
    max-width: 800px;
    width: 100%;
    max-height: 420px; }
    .full-news .big-news-card figure img {
      max-width: 100%;
      -o-object-fit: contain;
         object-fit: contain;
      -o-object-position: center;
         object-position: center; }
  .full-news .big-news-card .news-card-date {
    text-align: end;
    font-size: 25px;
    line-height: 37px;
    font-family: 'Gilroy-Regular';
    color: #848181;
    margin-top: 20px; }
  .full-news .big-news-card .news-card-title {
    font-size: 35px;
    line-height: 43px;
    font-family: 'Gilroy-SemiBold';
    color: #000000;
    margin: 30px 0; }
  .full-news .big-news-card .news-card-subtitle {
    font-family: 'Gilroy-Regular';
    font-size: 20px;
    line-height: 23px;
    color: #848181; }
  .full-news .big-news-card .news-card-text {
    font-size: 25px;
    line-height: 37px;
    margin-top: 30px;
    font-family: 'Gilroy-Regular';
    color: #000000; }
  .full-news .news-card {
    display: flex;
    flex-direction: column; }
    .full-news .news-card .article {
      margin-right: 0; }
