
body
section.myHead#heaDer
    .container  
        .row
            .col-xl-12.col-lg-12.col-md-12
                img(src="./img/logo.png", alt="", srcset="")           
                h5 WELCOME TO THE  YELLow SIDE OF MOON
                h1 WE DO SOME CREATIVE STUFF!!!
                button.firtsBut EXPLORE
                a(href="#aboutUs ")
                   button.toNext
                    img(src="./img/Arrow.png", alt="", srcset="")
section#aboutUs  
    .naviGate   
        .container
            .row
                .col-xl-2.col-lg-4.col-md-5
                    .logo.d-flex.align-items-center
                        img.logoImg(src="./img/LogoFor.png", alt="")
                .col-xl-6.offset-xl-4.col-lg-8.col-md-7
                    nav.myNav
                        a.navMenu(href="#heaDer") home
                        a.navMenu(href="#aboutUs ") about us  
                        a.navMenu(href="#portFolio") portfolio
                        a.navMenu(href="#cliense") clients
                        a.navMenu(href="http://") contact
    
    .container
        .row
            .col-xl-12.col-lg-12.col-md-12
                 h1 About us
                 h4 yellow side  of the moon is not  secret anymore   
        
   
    .container
        .row      
            .col-xl-4.col-lg-4.col-md-4
                h3 01
                p we make some art
                span Its just some empty spaces with some text,images and more empty spaces
            .col-xl-4.col-lg-4.col-md-4
                 h3 02
                 p WE DEVELOPE SOME APPs
                 span You click and magic happen, well someone must make magic
            .col-xl-4.col-lg-4.col-md-4
                 h3 03
                 p WE TAKE SOME PHOTOGRaphs
                 span This is the easy part of job, just point camera and shoot
section#quote
    .container 
        .row
            .col-xl-12.col-lg-12.col-md-12
             h1 THIS IS SOME RANDOM TEXT 
                 h1 WHERE YOU GET INSPIRED AND DO SOME COOL STUFF
             span NO...WE ARE NOT LAZY,EVERY WEBSITE NEED BLANK SPACE       
section#portFolio
    .container
        .row
            .col-xl-12.col-lg-12.col-md-12
                h2 portfolio
                p when we are bored we make some of these
        .row        
            .col-xl-3.col-lg-3.col-md-3
                .work-card
                    img.portfoLio(src="./img/port.png", alt="", srcset="")
                    .info
                        .title worning!!!
                            p.titleText shocking good art

                
            .col-xl-3.col-lg-3.col-md-3
                .work-card
                    img.portfoLio(src="./img/port.png", alt="", srcset="")
                    .info
                        .title worning!!!   
                            p.titleText shocking good art
            .col-xl-3.col-lg-3.col-md-3
                .work-card
                    img.portfoLio(src="./img/port.png", alt="", srcset="")
                    .info
                        .title worning!!!
                            p.titleText shocking good art
            .col-xl-3.col-lg-3.col-md-3
                .work-card
                    img.portfoLio(src="./img/port.png", alt="", srcset="")
                    .info
                        .title worning!!!
                            p.titleText shocking good art
            .col-xl-3.col-lg-3.col-md-3
                .work-card
                    img.portfoLio(src="./img/port.png", alt="", srcset="")
                    .info
                        .title worning!!!
                            p.titleText shocking good art
            .col-xl-3.col-lg-3.col-md-3
                .work-card
                    img.portfoLio(src="./img/port.png", alt="", srcset="")
                    .info
                        .title worning!!!
                            p.titleText shocking good art
            .col-xl-3.col-lg-3.col-md-3
                .work-card
                    img.portfoLio(src="./img/port.png", alt="", srcset="")
                    .info
                        .title worning!!!
                            p.titleText shocking good art
            .col-xl-3.col-lg-3.col-md-3
                .work-card
                    img.portfoLio(src="./img/port.png", alt="", srcset="")
                    .info
                        .title worning!!!   
                            p.titleText shocking good art                        
        .row       
            .col-xl-12.col-lg-12.col-md-12
                .toNextPage
                     p ohh...we have more of these
                     a.loadMore(href="#cliense")
                            img.loadMorePicture(src="./img/Arr.png", alt="", srcset="")
section#cliense
    .container  
        .row
            .col-xl-12.col-lg-12.col-md-12
                h3.client.Up clients
                h5.client.UpText somebody aCTUALLY PAy us for these stuff
        
        .client
            img.clientLogo(src="./img/1.png", alt="", srcset="")
            img.clientLogo(src="./img/2.png", alt="", srcset="")
            img.clientLogo(src="./img/3.png", alt="", srcset="")
            img.clientLogo(src="./img/4.png", alt="", srcset="")
            img.clientLogo(src="./img/5.png", alt="", srcset="")
            img.clientLogo(src="./img/6.png", alt="", srcset="")
section#contact
    .container
        .row
            .col-xl-6.offset-xl-3
                h3.client.Up.con contact us
                h5.client.UpText.contack SURE...WE CAN TAKE Some time for chat
        .row
            .col-xl-12.col-lg-12.col-md-12
                form.formFoInfo(action="")
                    div.nameAndMail
                        .col-xl-6.col-lg-6.col-md-6
                            input.name(type="text" placeholder="Name")
                            

                        .col-xl-6.col-lg-6.col-md-6
                            input.email(type="text" placeholder="Email")
                    div.subject
                        .col-xl-12.col-lg-12.col-md-12
                             input.forSubject(type="text" placeholder="Subject")   
                    div.message
                        .col-xl-12.col-lg-12.col-md-12
                           textarea.massageFor(name="", cols="30", rows="10",placeholder="Massage")
                    .buttonSubmit       
                        .col-xl-12.col-lg-12.col-md-12
                              button.submit(type="submit") send
footer#foterFor
    div.websiteName      
        p.nameLogo © 2019 - YellowMoon All Right Reserved 
    div.logoA
        a(href="http://")
            img.logoF(src="./img/Fac.png", alt="", srcset="")       
        a(href="")
             img.logoF(src="./img/Twi.png", alt="", srcset="")    
        a(href="") 
             img.logoF(src="./img/Dri.png", alt="", srcset="") 
        a(href="http://")
              img.logoF(src="./img/Google.png", alt="", srcset="")  
        a(href="http://") 
              img.logoF(src="./img/Youtube.png", alt="", srcset="")   
         
      
      
            
