@import "~bootstrap/scss/bootstrap-grid";
@font-face {

    font-family: 'Roboto regular';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Roboto-Regular.ttf);
  }
 @font-face{
  font-family: 'Roboto light';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Roboto-Light.ttf);
 } 
 $primari:#E6B10A ;


  body{
   
    scroll-behavior: smooth;
    padding: 0;
      margin: 0;
      #heaDer{
      background: url(../img/BackgroundFirst.png),no-repeat;
      padding-top: 200px;
      text-align: center; 
      
      
      
      h5{
         font-weight: 100;
         font-size: 15px;
         font-family: 'Roboto regular';
         color: rgb(255, 255, 255);
         text-transform: uppercase;
         margin-top: 40px;       
      }  
      h1{
        font-style: normal;
         font-size: 40px;
        font-family: 'Roboto light';
        color: rgb(255, 230, 0);
        line-height: 0.675;
        font-weight: 100;
        
      }
      .firtsBut{
        background-color: #89898b;
        border-style: solid;
        border-width: 1px;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 85px;
        padding-right: 85px;
        border-color: #ffe600;
        color: aliceblue;
        margin-top: 110px;
        &:hover{
          border-width: 1px;
          border-color: #89898b;
          background-color: $primari;
          transition: 3s;
        }
      }
      .toNext{
       display: block;
       margin-left: auto;
       margin-right: auto;
       background-color: #89898b;
       border: none;
       margin-top: 50px;
       margin-bottom: 100px;
       &:hover{
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
       }
      }
    }
    #aboutUs{
      .naviGate{
        border-bottom: 1px solid $primari;
      }
      .logo{
        min-height: 100px;
      }
      
      .myNav{
        display: flex;
        justify-content: space-between;
        padding-top: 40px;
        padding-bottom: 40px;
        .navMenu{
          color: #89898b;
          text-decoration: none;
          font-weight: 100;
          font-size: 15px;
          font-family: 'Roboto regular';          
          text-transform: uppercase;
          &:hover{
            color: $primari;
            transform: 2s;
          }
        }
      }
      h1{
        font-style: normal;
        padding-top: 70px;
        font-size: 25px;
        text-align: center;
        color: black;
        line-height: 0.675;
        font-weight: 100;
        font-family: 'Roboto regular';
        text-transform: uppercase;
        
      }
      h4{
        font-family: 'Roboto regular';
        text-transform: uppercase;
          font-size: 15px;
        text-align: center;
          color: $primari;
          line-height: 1.8;
          margin-bottom: 130px;

        
        
      }
      h3{
       
        color: $primari;
        display: inline-block;
        border-right: 1px solid $primari ;
        padding: 5px;
        padding-right: 10px;
        margin: 10 10px;
        text-transform: uppercase;
        margin-right: 20px;
        font-size: 25px;
          font-family: 'Roboto regular';
          font-weight: 400;
      }
      p{
        display: inline;
        text-transform: uppercase;
        
          font-size: 15px;
          font-family: 'Roboto regular';
          color: rgb(19, 19, 22);
          line-height: 1.8;
          font-weight: 600;
         text-align: center;
        
      }
      span{
        display: block;
        letter-spacing:1px;
          font-size: 15px;
          font-family: 'Roboto regular';
          color: rgb(142, 142, 142);
          line-height: 1.8;
          text-align: center;
          margin-bottom: 130px;
        
        
      }
    }
  
    #quote{
      text-align: center;
      padding-top: 200px;
      padding-bottom: 200px;
      background-color: $primari;
    
    h1{
     
        font-size: 25px;
        font-style: italic;
        color: rgb(19, 19, 22);
        font-family: 'Roboto light';

      
    }
    span{
       
        font-size: 15px;
        font-family: 'Roboto regular';
        color: rgb(255, 255, 255);
        line-height: 1.8;
        font-style: normal;


      
    }
  }
    #portFolio{
      .work-card{
        position: relative;
        margin-bottom:20px; ;
        font-family: 'Roboto regular';
         text-transform: uppercase;
        font-size: 20px;
  
        color: black;
        .info{
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          text-align: center;
          width: 100%;
          height: 100%;
          background-color: $primari;
          opacity: 0;
          transition: all ease-in-out .5s;
          .titleText{
            font-family: 'Roboto regular';
            text-transform: uppercase;
              font-size: 15px;
        
              color: rgb(255, 255, 255);
             
     
            
          }
          &:hover{
            opacity: 1;
            padding: 50px;
          }
        }

      }
    
      .portfoLio{
        width: 100%;
       
       
        
      }
      h2{
        font-family: 'Roboto regular';
        text-align: center;
        text-transform: uppercase;
        color: rgb(19, 19, 22);
        padding-top: 70px;
        font-size: 25px;
      }
      p{
        font-family: 'Roboto regular';
        text-align: center;
        text-transform: uppercase;
        color: $primari;
        
        font-size: 15px;
       
      }
      .toNextPage{
        text-align: center;
        padding-bottom: 70px;
        .loadMore{
          .loadMorePicture{
            width: 40px;
            height: 20px;
            &:hover{
              -webkit-transform: scale(1.2);
             -ms-transform: scale(1.2);
               transform: scale(1.2);
            }
            
          }
          
        }
      }
    }
    #cliense{
      background: #424245;
     
      .client.Up{
        font-family: 'Roboto regular';
        justify-content: center;
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        padding-top: 100px;
        font-size: 25px;
        padding-bottom: 0;
    
      }
      .client.UpText{
        font-family: 'Roboto regular';
       text-align: center;
       text-transform: uppercase;
       color: $primari;
       justify-content: center;
       font-size: 15px;
       font-weight: 400;
       padding-bottom: 0;
       padding-top: 0;
      }
      .client{
        padding-top: 130px; 
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 130px;
     
      }
    
     
    }
    #contact{
      margin-bottom: 100px;
      .con{
        padding-top: 100px;
        font-family: 'Roboto regular';
        justify-content: center;
        display: flex;
        text-transform: uppercase;
        color: rgb(19, 19, 22);
     
        font-size: 25px;
     
       
      }
      .contack {
        font-family: 'Roboto regular';
        display: flex;
        text-transform: uppercase;
        color: $primari;
        justify-content: center;
        font-size: 15px;
        font-weight: 400;
        margin-bottom: 100px;
      
      }
      
      .nameAndMail{
 
        display: flex;
        ::placeholder { 
          color:#ffffff;
        
          font-size: 15px;
        
        }
        .email{
          border: none; 
          height: 7%;
          width: 100%;
          background-color:$primari; 
          padding: 15px 20px;
          color:#ffffff;
          font-size: 15px;
         
        
          
        }
        .name{
          box-sizing: border-box;
          border: none;
          height: 7%;
          width: 100%;
          background-color:$primari;
          padding: 15px 20px;
          color:#ffffff;
          font-size: 15px;
        }
      
      }
      .subject{
        padding-top: 20px;
        ::placeholder { 
          color:#ffffff;
          
          font-size: 15px;

        }
        .forSubject{
          padding: 15px 20px;
          border: none;
          height: 7%;
          width: 100%;
          background-color:$primari;
          color:#ffffff;
          font-size: 15px;
        }
      }
      .message{
        padding-top: 20px;
        ::placeholder { 
          color:#ffffff;
         
          font-size: 15px;

        }
        .massageFor{
          padding: 15px 20px;
          width: 100%;
          resize: none;
          border: none;
          height: 25%;
          width: 100%;
          background-color:$primari;
          color:#ffffff;
          font-size: 15px;
          
           
        }
      }
      .buttonSubmit  {
        padding-top: 20px;

        .submit{
          color:$primari;
          text-transform: uppercase;
          width: 100%;
          height: 7%;
          border: none;
          background: #131316;
          font-family: 'Roboto regular';
          font-size: 20px;
          
        }
      }
    }
    #foterFor{

      justify-content: space-around;
      display: flex;
      background: #131316;
      .websiteName{
        margin-top: 30px;
        margin-right: 70px;
        align-items: center;
        margin-bottom: 10px;
        .nameLogo{
          
            font-size: 13px;
            font-family: 'Roboto regular';
            color: $primari;
          
          
          
        }
      }
      .logoA{
        display: flex;
        align-items: center;
        margin-left: 70px;
        margin-top: 20px;
        .logoF{
           margin: 15px;
          
        }
      }
     
    }
  }